# Creat ssh config file 
## https://linuxize.com/post/using-the-ssh-config-file/

## mkdir -p ~/.ssh && chmod 700 ~/.ssh
## touch ~/.ssh/config
## chmod 600 ~/.ssh/config

Host bode
  User andres12
  HostName bode.hpc.mssm.edu
  ForwardX11Trusted yes
Host minerva
  User andres12
  HostName minerva12.hpc.mssm.edu
  ForwardX11Trusted yes
Host *
  ControlPath ~/.ssh/cm_socket/%r@%h:%p
  ControlMaster auto
  ControlPersist 10m
  Compression yes
  ForwardX11 yes
  ServerAliveInterval 60
  ServerAliveInterval 30
